<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>
    <title>Inicio</title>

</head>
<body>
<ul id="dropdown1" class="dropdown-content">
    <li><a href="login.html">Ingresar</a></li>
    <li class="divider"></li>
    <li><a href="#!">Registrarse</a></li>

</ul>
<nav>
    <div class="nav-wrapper deep-orange">
        <a href="inicio.html" class="brand-logo "><img class="responsive-img" style="max-width: 40%; height: auto;"
                                                       src="img/nemo-logo.png"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><img class="responsive-img circle"
                                                                                     src="img/user-pq.png"><i
                    class="material-icons right">arrow_drop_down</i></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">


    <div class="row">
        <div class="col s12 m12">
            <div class="card z-depth-1-half rounded">
                <div class="card-image container">
                    <img src="img/nemo.png" class="responsive-img materialbox-caption center-block" style="width: 45%">
                    <span class="card-title"></span>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="has-feedback">
            <img src="img/elemento.png" style="width:40%">
            <input type="text" class="form-control" placeholder="Elemento perdido" ng-model="elemento.nombre" /> 
            <input type="text" class="form-control" placeholder="Descripcion" ng-model="elemento.descripcion" />
            <input type="text" class="form-control" placeholder="Fecha de perdida" ng-model="elemento.fecha" /> 
            <span class="glyphicon glyphicon-tasks form-control-feedback"></span>
        </div>

        <a href="login.html">Agregar</a>

    </div>
    <div class="row">

    </div>
</div>


<footer class="page-footer deep-orange">
    <div class="footer-copyright z-depth-1">
        <div class="container center">
            © 2015 Copyright Politecnico GranColombiano
        </div>
    </div>
</footer>
<script src="js/jquery.js"></script>
<script src="js/materialize.min.js"></script>
</body>
</html>
